#Bmark{
    background-image: linear-gradient(to top right,rgb(18, 72, 235),rgb(104, 130, 249));
    width: 100%;
    padding-bottom: 50px;
}

.header-2{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.header-2 h1{
  position: relative;
  left: 10%;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 60px;
}
.header-2 p{
  position: relative;
  margin-top: 23px;
  right: 12%;
  color: #FFFFFF;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 60px;
  background-color: inherit;
}

.hw:hover{
  box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.25);
  border: 1px solid black;
  border-radius: 20px;
}
h2{
  text-align: center;
  font-size: 30px;
  color: #FFFFFF;
}

.main-2{
  width: 75%;
  height: auto;
  margin: 0 auto;
  background: #D05252;
  border-radius: 30px;
}

.main-2 h4{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;
  color: #FFFFFF;
  text-align: center;
}
.main-2 p{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  color: #FFFFFF;
  text-align: center;
  padding-bottom:10px;
}



/* Tablet */
@media screen and (min-device-width: 641px)
and (max-device-width: 1024px) {
  #Bmark{
    width: 100%;
  }
  .main-2{
    width: 65%;
    height: auto;
  }
  .main-2 h4{
    font-size: 28px;
  }
  .main-2 p{
    font-size: 22px;
  }
}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
  #Bmark{
    width: 100%;
  }
  .header-2{
    flex-direction: column;
  }
  .header-2 h1{
    margin-left: 32%;
  }
  .header-2 p{
    margin-left: 47%;
  }
  .main-2 h4{
    width: 65%;
    height: auto;
  }
  .main-2 h4{
    padding-left: 15%;
    font-size: 20px;
  }
  .main-2 p{
    font-size: 16px;
  }
}